logging:
  level:
    org.springframework.boot.context.config: DEBUG


server:
  port: 8082

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/support_db
    username: support_user
    password: support_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
